<div class="container">
    <div class="row">
        <header class="section-header">
            <h2 class="section-title">
                {{ 'experience.title'|trans }}
            </h2>
            <h3 class="section-subtitle">
                {{ 'experience.subtitle'|trans|nl2br }}
            </h3>
        </header>
    </div>

    <div class="row row-experience">

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            &nbsp;
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'maj.title'|trans }}</h3>
            <p>
                {{ 'maj.subtitle'|trans|nl2br }}
            </p>
            <p><i class="fa fa-3x fa-ellipsis-h"></i></p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            &nbsp;
        </div>
    </div>

    <div class="row row-experience">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.scrum.title'|trans }}</h3>
            {{ 'experience.list.scrum.description'|trans|nl2br }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.system.title'|trans }}</h3>
            {{ 'experience.list.system.description'|trans|nl2br }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.git.title'|trans }}</h3>
            {{ 'experience.list.git.description'|trans|nl2br }}
        </div>
    </div>
    <div class="row row-experience">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.php.title'|trans }}</h3>
            {{ 'experience.list.php.description'|trans|nl2br }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.mysql.title'|trans }}</h3>
            {{ 'experience.list.mysql.description'|trans|nl2br }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.web.title'|trans }}</h3>
            {{ 'experience.list.web.description'|trans|nl2br }}
        </div>
    </div>

    <div class="row row-experience">
        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.monitoring.title'|trans }}</h3>
            {{ 'experience.list.monitoring.description'|trans|nl2br }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.middleware.title'|trans }}</h3>
            {{ 'experience.list.middleware.description'|trans|nl2br }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
            <h3>{{ 'experience.list.transformation.title'|trans }}</h3>
            {{ 'experience.list.transformation.description'|trans|nl2br }}
        </div>
    </div>
</div>